.button {
    text-align: center;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: var(--color-main);

    align-self: center;

    outline: 0;
    border: 0;
    
    font-family: var(--font-main);
    font-weight: bold;

    cursor: pointer;
    
    transition: .3s all;
    &:hover {
        background-color: var(--hover-main);
    }
}