#content
{
	padding: 15px 35px;
}

#content .title
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;
}
#content hr
{
	height: 1px;
	margin: 15px 0;

	border-color: rgba(0,0,0,0.1);
}

#content .add
{
	width: 25px;
	height: 25px;

	transition: 0.3s all;

	opacity: 0.3;
}

#content .add:hover
{
	opacity: 1;
}

#content .add svg
{
	width: 100%;
	height: 100%;
}

#content .books
{
	display: flex;
	flex-flow: column nowrap;
}

#content .books .book
{
	margin-bottom: 15px;
	padding: 25px 20px;

	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
