#content
{
	padding: 15px 35px;
}

#content .title
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;
}
#content hr
{
	height: 1px;
	margin: 15px 0;

	border-color: rgba(0,0,0,0.1);
}

#content .add
{
	width: 25px;
	height: 25px;

	transition: 0.3s all;

	opacity: 0.3;
}

#content .add:hover
{
	opacity: 1;
}

#content .add svg
{
	width: 100%;
	height: 100%;
}

#content .books
{
	display: flex;
	flex-flow: column nowrap;
}

#content .books .book
{
	display: flex;
	flex-flow: row nowrap;

	margin-bottom: 15px;
	padding: 25px 20px;

	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);

	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#content .books .book:hover
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#content .books .book .name
{
	flex-grow: 1;

	padding-right: 35px;
}

#content .books .book .info
{
	font-size: 12px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;

	max-width: 200px;
	margin-top: 25px;

	text-align: right;
}

#content .books .book .info p
{
	overflow: hidden;

	white-space: nowrap;
	word-wrap: none;
}
