@import "./../fonts/fonts.css";
@import "./../icons/tabler-icons.min.css";
@import "./content.css";

*, *::before, *::after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	user-select: none;

	-webkit-user-drag: none;
}

html
{
	height: 100%;
}

body
{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 15px;

	display: grid;

	min-height: 100%;

	color: #303133;

	gap: 0;
	grid-template: "s t"
	"s c";
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
}

#sideBar
{
	display: flex;
	align-self: stretch;
	flex-flow: column nowrap;

	width: 75px;
	max-width: 80px;
	padding-top: 25px;
	padding-bottom: 5px;

	background-color: #303133;

	grid-area: s;
	justify-self: flex-start;
}

#sideBar a
{
	display: flex;
	align-items: center;
	justify-content: center;

	height: 60px;
	margin: 5px 0;

	transition: 0.3s background-color;
}

#sideBar a:hover
{
	background-color: #505153;
}

#sideBar a svg
{
	width: 35px;
	height: 35px;
}

#sideBar .setting
{
	margin-top: auto;
}

#titleBar
{
	align-self: flex-start;

	max-height: 35px;

	grid-area: t;
	justify-self: stretch;
}

#content
{
	grid-area: c;
}

#titleBar
{
	display: flex;
	flex-flow: row nowrap;
}

#titleBar > p
{
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: flex-start;

	padding: 5px 15px;

	-webkit-app-region: drag;
}

#titleBar > div
{
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 50px;
	min-height: 35px;

	cursor: pointer;
	transition: 0.3s all;

	opacity: 0.4;
}

#titleBar > div:hover
{
	opacity: 1;
	background-color: #EEEEEE;
}

#titleBar svg
{
	width: 18px;
	height: 18px;
}

#titleBar > #titleMinimize > svg
{
	width: 20px;
	height: 20px;
}

#titleBar > #titleClose > svg
{
	width: 20px;
	height: 20px;
}

#titleBar > #titleClose:hover
{
	background-color: #FD0007;
}

#titleBar > #titleClose:hover > svg
{
	stroke: #FFFFFF;
}
