@import "./../fonts/fonts.css";
@import "./../icons/tabler-icons.min.css";
@import "./content.css";

*, *::before, *::after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	user-select: none;

	-webkit-user-drag: none;
}

html
{
	height: 100%;
}

body
{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 15px;

	display: flex;
	overflow: hidden;
	flex-flow: row nowrap;

	height: 100%;

	color: #303133;
}

.wrapper
{
	flex-grow: 1;

	height: 100%;
}

#sideBar
{
	display: flex;
	align-self: stretch;
	flex-flow: column nowrap;

	width: 75px;
	max-width: 80px;
	padding-top: 25px;
	padding-bottom: 5px;

	background-color: #303133;
}

#sideBar a
{
	display: flex;
	align-items: center;
	justify-content: center;

	height: 60px;
	margin: 5px 0;

	transition: 0.3s background-color;
}

#sideBar a:hover
{
	background-color: #505153;
}

#sideBar a svg
{
	width: 35px;
	height: 35px;
}

#sideBar .setting
{
	margin-top: auto;
}

#titleBar
{
	position: sticky;
	top: 0;
	right: 0;

	display: flex;
	align-self: flex-start;
	flex-flow: row nowrap;

	width: 100%;
	max-height: 35px;

	border-bottom: 1px solid  rgba(0,0,0,0.1);
	background-color: #FFFFFF;

	justify-self: stretch;
}

#titleBar > p
{
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: flex-start;

	padding: 5px 15px;

	-webkit-app-region: drag;
}

#titleBar > div
{
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 50px;
	min-height: 35px;

	cursor: pointer;
	transition: 0.3s all;

	opacity: 0.4;
}

#titleBar > div:hover
{
	opacity: 1;
	background-color: #EEEEEE;
}

#titleBar svg
{
	width: 18px;
	height: 18px;
}

#titleBar > #titleMinimize > svg
{
	width: 20px;
	height: 20px;
}

#titleBar > #titleClose > svg
{
	width: 20px;
	height: 20px;
}

#titleBar > #titleClose:hover
{
	background-color: #FD0007;
}

#titleBar > #titleClose:hover > svg
{
	stroke: #FFFFFF;
}

#content
{
	overflow-x: auto;

	height: 100%;
	padding-bottom: 55px;
}

*::-webkit-scrollbar
{
	width: 16px;

	background-color: #FFFFFF;
}
*::-webkit-scrollbar-track
{
	background-color: #FFFFFF;
}
*::-webkit-scrollbar-thumb
{
	border: 5px solid #FFFFFF;
	border-radius: 16px;
	background-color: #BABAC0;
}
*::-webkit-scrollbar-button
{
	display: none;
}
