@import-normalize;
@import-sanitize;


@import './utils/vars.scss';

html {
    scroll-behavior: smooth;
    height: 100%;
    user-select: none;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100%;
    height: 100%;
    background-color: $color-main;
    font-family: $font-second;
    color: $text-color-second;

    overflow: hidden;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-main;
    color: $text-color-main;
}

p, input, a, button, textarea {
    font-family: $font-second;
    color: $text-color-second;
}

#root {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;

    flex-grow: 1;
    height: 100%;
}

.content {
    flex-grow: 1;
    background-color: $color-second;
    border-top-left-radius: 15px;

    grid-column: -1/2;

    padding: 0;

    height: 100%;
    overflow: hidden;
}

.content-wrapper {
    padding: 0 30px;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;

    flex: 1 1 auto;
    overflow: auto;

    padding-bottom: 30px;
}

.titlebar-drag {
    -webkit-user-select: none;
    -webkit-app-region: drag;

    flex-grow: 1;
}

body .simplebar-track.simplebar-vertical {
    width: 9px;
    & .simplebar-scrollbar {
        &::before {
            background-color: $hover-main;
        }
    }
}