#content.books, #content.notes, #content.settings
{
	padding: 15px 35px;
}

#content .title
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;

	min-height: 25px;
}

#content hr
{
	height: 1px;
	margin: 15px 0;

	border: 1px solid rgba(0,0,0,0.1);
}

#content .add
{
	width: 25px;
	height: 25px;

	cursor: pointer;
	transition: 0.3s all;

	opacity: 0.3;
}

#content .add:hover
{
	opacity: 1;
}

#content .add svg
{
	width: 100%;
	height: 100%;
}

#content .books
{
	display: flex;
	flex-flow: column nowrap;
}

#content .books .book
{
	display: flex;
	flex-flow: row nowrap;

	margin-bottom: 15px;
	padding: 25px 20px;

	cursor: pointer;
	transition: box-shadow 0.3s cubic-bezier(0.25,0.8,0.25,1);
	text-decoration: none;

	color: #303133;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 5px;
}

#content .books .book:not(.error):hover
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#content .books .book .name
{
	flex-grow: 1;

	padding-right: 35px;
}

#content .books .book.error
{
	cursor: default;
}

#content .books .book.error .name
{
	color: rgb(240, 20, 20);
}

#content .books .book .info
{
	font-size: 12px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;

	width: 100%;
	max-width: 150px;
	margin-top: 25px;

	text-align: right;
}

#content .books .book .info p
{
	overflow: hidden;

	white-space: nowrap;
	word-wrap: none;
}

#content .books .book.fb2
{
	flex-flow: row nowrap;
}

#content .books .book.fb2 img
{
	height: 150px;
	margin-right: 25px;
}

#content .books .book.fb2 .title, #content .books .book.fb2 .author
{
	padding-right: 55px;
	font-size: 12px;
	margin-top: 15px;
}

#content .books .book.fb2 .author
{
	font-style: italic;
}

#content .books .book.fb2 .wrapper
{
	display: flex;
	flex-flow: row nowrap;

	min-height: 150px;
}
