@main-black: #303133;
@second-black: #FFFFFF;
@third-black: #494A4D;

body.dark
{
	@import "~rsuite/lib/styles/themes/dark/index.less";

	& #sideBar
	{
		background-color: #232425;
		& a:hover
		{
			background-color: #353638;
		}
	}
	& #content .books .book:not(.error) .name
	{
		color: @second-black;
    }
    & #content .books .book.error .name
    {
        color: #C73F00;
    }
	& #content .books .book .info p
	{
		color: #AFAAAA;
	}
	& #content > .settings > .setting > p
	{
		color: @second-black;
	}
	& #content, & #titleBar
	{
		background-color: @main-black;
	}
	& #titleBar
	{
		border-bottom: 1px solid rgba(255,255, 255, 0.2);
	}
	& #titleBar svg
	{
		stroke: @second-black;
	}
	& #titleBar div:hover svg, #titleBar > a:hover svg
	{
		stroke: @main-black;
	}
	#content .title > h4
	{
		color: @second-black;
	}
	#content .books .book
	{
		border: 1px solid rgba(255,255, 255, 0.2);
		background-color: @main-black;
		&:not(.error):hover
		{
			border: 1px solid rgba(255,255, 255, 0.4);
		}
	}
	& .rs-divider
	{
		background-color: rgba(255,255, 255, 0.2);
	}
	& .rs-btn.rs-btn-icon
	{
		background-color: #444548;
		&:hover
		{
			background-color: #67696B;
		}
	}
	& *::-webkit-scrollbar
	{
		background-color: @main-black;
	}

	& *::-webkit-scrollbar-track
	{
		background-color: @main-black;
	}
	& *::-webkit-scrollbar-thumb
	{
		border: 5px solid @main-black;
		background-color: rgba(255,255, 255, 0.4);
	}

	& #viewer > .content
	{
		color: @second-black;
	}
	& #viewer .settings
	{
		border-bottom: 1px solid rgba(255,255, 255, 0.2);
		background-color: @main-black;
	}
	& #viewer .settings p
	{
		color: @second-black;
	}
	& .rs-picker-select-menu-item:hover
	{
		color: #FFFFFF;
		background-color: #3C3F43;
	}
	& .rs-picker-select-menu-item-active
	{
		color: #E54304;
		background-color: rgba(128, 45, 0, 0.2);

		&:hover
		{
			color: #E54304;
			background-color: rgba(128, 45, 0, 0.3);
		}
	}
	& .rs-btn-toggle-checked
	{
		background-color: #C73F00;
	}
	& .rs-slider-progress-bar
	{
		background-color: #E54304;
	}
	& .rs-slider-handle::before
	{
		border: 2px solid #E54304;
		background-color: #292D33;
	}
	& .rs-slider-handle:hover::before
	{
		box-shadow: 0 0 0 4px rgba(250, 207, 195, 0.4);
	}
	& .rs-btn-toggle-checked:hover
	{
		background-color: #DB4302;
	}
	& .rs-slider-bar
	{
		background-color: #3C3F43;
    }
    & #content .books .book.fb2 .title, & #content .books .book.fb2 .author
    {
        color: #AFAAAA;
    }
}
