*, *::before, *::after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	user-select: none;

	-webkit-user-drag: none;
}

html
{
	height: 100%;
}

#root
{
	display: grid;

	width: 100%;
	height: 100%;

	gap: 0;
	grid-template: "s t"
	"s c";
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
}

body
{
	height: 100%;
}

/* SIDEBAR */

#sideBar
{
	display: flex;
	align-self: stretch;
	flex-flow: column nowrap;

	width: 75px;
	min-width: 75px;
	max-width: 80px;
	padding-top: 30px;
	padding-bottom: 5px;

	background-color: #303133;

	grid-area: s;
}

#sideBar a
{
	display: flex;
	align-items: center;
	justify-content: center;

	height: 60px;
	margin: 5px 0;

	transition: 0.3s background-color;
}

#sideBar a:hover
{
	background-color: #505153;
}

#sideBar a svg
{
	width: 35px;
	height: 35px;

	stroke: #FFFFFF;
}

#sideBar .setting
{
	margin-top: auto;
}

/* TITLEBAR */

#titleBar
{
	position: sticky;
	z-index: 20;
	top: 0;
	right: 0;

	display: flex;
	overflow: hidden;
	align-self: flex-start;
	flex-flow: row nowrap;

	width: 100%;
	min-height: 35px;
	max-height: 35px;

	border-bottom: 1px solid  rgba(0,0,0,0.1);
	background-color: #FFFFFF;

	grid-area: t;
	justify-self: stretch;
}

#titleBar > p
{
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: flex-start;

	padding: 5px 15px;

	white-space: nowrap;

	-webkit-app-region: drag;
}

#titleBar > div, #titleBar > a
{
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 50px;
	min-height: 35px;

	cursor: pointer;
	transition: 0.3s background-color,
	0.3s opacity;

	opacity: 0.4;
}

#titleBar div:not(.disabled):hover, #titleBar a:hover
{
	opacity: 1;
	background-color: #EEEEEE;
}

#titleBar svg
{
	width: 18px;
	height: 18px;

	stroke: #2C3E50;
	stroke-width: 1.5;
}

#titleBar > #titleMinimize > svg
{
	width: 20px;
	height: 20px;
}

#titleBar > #titleClose > svg
{
	width: 20px;
	height: 20px;
}

#titleBar > #titleClose:hover
{
	background-color: #FD0007 !important;
}

#titleBar > #titleClose:hover > svg
{
	stroke: #FFFFFF !important;
}

#titleBar #titleStatus
{
	font-size: 13px;
	font-weight: bold;
	line-height: 25px;

	display: block;
	overflow: hidden;
	justify-content: center;

	margin: 0 20px;

	text-align: center;

	opacity: 0.4;
}

/* CONTENT */

#content
{
	overflow: hidden;
	overflow-y: scroll;

	height: 100%;
	padding: 25px;
	padding-bottom: 55px;

	grid-area: c;
}

#content.view
{
	overflow: hidden;

	padding: 0;
}
#content .title
{
	display: flex;
	flex-flow: row nowrap;
}

#content .title > h4
{
	flex-grow: 1;
}

#content > .settings
{
	padding: 0 25px;
}

#content > .settings > .setting
{
	display: flex;
	flex-flow: row nowrap;

	margin-bottom: 15px;
}



#content > .settings > .setting p
{
	line-height: 2px;

	display: flex;
	align-items: center;

	min-width: 150px;
	padding-right: 15px;
}

/* SCROLL */

*::-webkit-scrollbar
{
	width: 13px;

	background-color: #FFFFFF;
}

*::-webkit-scrollbar-track
{
	background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb
{
	border: 5px solid #FFFFFF;
	border-radius: 16px;
	background-color: #BABAC0;
}

*::-webkit-scrollbar-button
{
	display: none;
}

/* BOOKS */

#content .books
{
	display: flex;
	flex-flow: column nowrap;
}

#content .books .book
{
	display: flex;
	flex-flow: row nowrap;

	margin-bottom: 15px;
	padding: 25px 20px;

	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
	text-decoration: none;

	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
}

#content .books .book:not(.error):hover
{
	box-shadow: 0 4px 4px rgba(0,0,0,0.12), 0 0 10px rgba(0,0,0,0.06);
}

#content .books .book .name
{
	flex-grow: 1;

	padding-right: 35px;

	color: #575757;
}

#content .books .book.error
{
	cursor: default;
}

#content .books .book.error .name
{
	color: rgb(240, 20, 20);
}

#content .books .book .info
{
	font-size: 12px;

	display: flex;
	align-items: flex-end;
	flex-flow: column nowrap;
	justify-content: flex-end;

	width: 100%;
	max-width: 150px;

/* margin-top: 25px; */

	text-align: right;
}

#content .books .book .info p
{
	white-space: nowrap;
	word-wrap: none;

	color: #575757;
}

#content .books .book .info .delete
{
	width: min-content;
	margin-bottom: auto;

	transition: 0.3s all;

	opacity: 0.1;
}

#content .books .book .info .format
{
	margin-top: 15px;
}

#content .books .book .info .delete:hover
{
	opacity: 1;
}

#content .books .book.fb2
{
	flex-flow: row nowrap;
}

#content .books .book.fb2 .mainInfo
{
	flex-grow: 1;
}

#content .books .book.fb2 img
{
	height: 150px;
	margin-right: 25px;
}

#content .books .book.fb2 .title, #content .books .book.fb2 .author
{
	font-size: 12px;

	margin-top: 15px;
	padding-right: 55px;

	color: #575757;
}

#content .books .book.fb2 .author
{
	font-style: italic;
}

#content .books .book.fb2 .wrapper
{
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;

	min-height: 150px;
}

/* VIEWER */

#viewer
{
	height: 100%;
}

#viewer .settings
{
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	flex-flow: column nowrap;

	width: 100%;
	padding: 25px 35px;
	padding-top: 45px;

	border-bottom: 1px solid rgba(0,0,0,0.1);
	background-color: white;
}

#viewer > .settings > .setting
{
	padding: 15px 0;
}

#viewer > .settings > .setting > p
{
	margin-bottom: 10px;
}

#viewer > .settings > .setting.darkMode
{
	display: flex;
	flex-flow: row nowrap;

	padding-bottom: 0;
}

#viewer > .settings > .setting.darkMode > p
{
	margin-right: 15px;
}

#viewer > .content
{
	overflow-x: auto;

	height: 100%;

	user-select: text;
	white-space: pre-line;
}

#notesSave.disabled
{
	cursor: default;

	opacity: 0.1;
}

#content .note
{
	display: flex;
	flex-flow: row nowrap;

	margin-bottom: 15px;
	padding: 25px 20px;

	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
}

#content .note p
{
	flex-grow: 1;

	padding-right: 25px;
}

#content .note .delete
{
	transition: 0.3s all;

	opacity: 0.3;
}

#content .note .delete:hover
{
	opacity: 1;
}
