body
{
	color: var(--theme-second-color);
	background-color: var(--theme-main-color);
}

#root #viewer .content
{
	color: var(--theme-second-color);
}

body #root #titleBar, body #root #viewer .settings
{
	color: var(--theme-second-color);
	background-color: var(--theme-main-color);
}

body #root #viewer .settings
{
	border-bottom: 1px solid var(--theme-four-color);
}

body #root svg
{
	stroke: var(--theme-second-color);
}

body #root #content .hr, body #root #content hr
{
	opacity: 0.2;
	background-color: var(--theme-second-color);
}

body #root #titleBar
{
	border-bottom: 1px solid var(--theme-four-color);
}

body #root #titleBar #titleStatus
{
	color: var(--theme-second-color);
}

body #root #content .books .book
{
	color: var(--theme-second-color);
	border: 2px solid var(--theme-four-color);
	background-color: var(--theme-main-color);
}

body #root #titleBar > div:hover, body #root #titleBar div:hover, body #root #titleBar a:hover
{
	background-color: var(--theme-four-color);
}

body #root #sideBar
{
	background-color: var(--theme-second-color);
}

body #root #sideBar svg
{
	stroke: var(--theme-main-color);
}

body #root #sideBar a:hover
{
	background-color: var(--theme-three-color);
}

body #root ::-webkit-scrollbar
{
	background-color: var(--theme-main-color);
}

body #root ::-webkit-scrollbar-track
{
	background-color: var(--theme-main-color);
}

body #root ::-webkit-scrollbar-thumb
{
	border: 5px solid var(--theme-main-color);
	background-color: #BABAC0;
}

body #root .title
{
	color: var(--theme-second-color);
}

.themes .type
{
	border: 1px solid var(--theme-four-color);
	border-bottom: 2px solid var(--theme-four-color);
}
