@import './../../styles/utils/vars.scss';

.books {
    height: 100%;

    display: flex;
    flex-flow: column nowrap;

    gap: 10px 0;
    
    & .simplebar-content {
        display: flex;
        flex-flow: column nowrap;
    
        gap: 10px 0;
    }
    & .simplebar-vertical {
        right: -15px;
    }
}