$color-main: #292a2d;
$color-second: #161616;

$hover-main: #36373b;
$hover-second: #302f2f;

$text-color-main: #FFFFFF;
$text-color-second: #adadad;

$font-main: 'Montserrat';
$font-second: 'Noto Sans';