.viewer {
    height: 100%;
    padding: 30px;
    padding-right: 35px;
    overflow-x: hidden;

    & .simplebar-track.simplebar-vertical .simplebar-scrollbar {
        cursor: pointer;
    }

    & .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
        background-color: var(--hover-main);
    }

    & img[src=undefined] {
        display: none;
    }

    &.txt {
        max-width: 800px;
        margin: 0 auto;
    }

    &.epub {
        position: relative;
        padding: 0;

        & .epub-container {
            max-width: 800px;
            margin: 0 auto;
            margin-top: 25px;
            padding-bottom: 50px;
            overflow-x: hidden !important;
        }

        & .epub-container::-webkit-scrollbar {
            width: 5px;
            background: transparent;
        }
        
        & .epub-container::-webkit-scrollbar-thumb {
            background: rgba(var(--hover-main), .5);
            -webkit-border-radius: 5px;
        }
        
        & .epub-container::-webkit-scrollbar-corner {
            background: transparent;
        }

        & .epub-controls {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-start;

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 15px;

            z-index: 25;
            
            min-height: 75px;
            height: 75px;
            max-height: 75px;

            gap: 0 15px;

            opacity: .6;
            transition: 2s all;

            & .epub-pages, & .epub-nav, & .epub-size {
                transition: .4s all;
    
                color: var(--text-color-second);
                padding: 15px 25px;
    
                padding: 10px 20px;
                width: fit-content;
    
                height: 100%;
                
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
    
                & p {
                    font-size: 14px;
                    margin: 0;
                    padding: 0;
                }
                & span {
                    font-size: 16px;
                    color: var(--text-color-main);
                }
            }

            & .epub-nav, & .epub-size {
                padding: 0;
                overflow: hidden;
    
                & .epub-nav__button, & .epub-size__button {
                    padding: 1px 25px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;

                    cursor: pointer;
                    background-color: var(--hover-main);
                    transition: .6s all;
                    opacity: 0.4;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
    
            & .epub-nav {
                & p {
                    font-size: 14px;
                }
            }
            & .epub-size {
                padding: 0;
                margin-left: auto;
    
                & .epub-size__button {
                    font-size: 23px;
                }
            }
        }
    }

    &.fb2 {
        max-width: 800px;
        margin: 0 auto;
    }
    
    &.pdf {
        & .simplebar-content {
            position: relative;
            padding: 0;
        }
        position: relative;
        padding: 0;

        & .react-pdf__Page__canvas {
            margin: 0 auto;
        }

        & .pdf-controls {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-start;

            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            padding: 15px;

            z-index: 1;
            
            min-height: 75px;
            height: 75px;
            max-height: 75px;

            gap: 0 15px;

            opacity: .6;
            transition: 2s all;
            &:hover {
                & .pdf-pages, & .pdf-nav, & .pdf-size {
                    opacity: 1;
                    transition: 1s all;
                }
                opacity: 1;
            }
        }

        & .react-pdf__Page {
            margin-top: -75px;
        }
        & .pdf-pages, & .pdf-nav, & .pdf-size {
            transition: .4s all;

            color: var(--text-color-second);
            background-color: var(--color-main);
            padding: 15px 25px;

            border-radius: 10px;
            padding: 10px 20px;
            width: fit-content;

            height: 100%;
            
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            & p {
                font-size: 14px;
                margin: 0;
                padding: 0;
            }
            & span {
                font-size: 16px;
                color: var(--text-color-main);
            }
        }

        & .pdf-nav, & .pdf-size {
            padding: 0;
            overflow: hidden;
            opacity: 0.1;

            & .pdf-nav__button, & .pdf-size__button {
                padding: 1px 25px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                transition: .6s all;
                &:hover {
                    background-color: var(--hover-main);
                }
            }
        }

        & .pdf-nav {
            & p {
                font-size: 14px;
            }
        }
        & .pdf-size {
            padding: 0;
            margin-left: auto;

            & .pdf-size__button {
                font-size: 23px;
            }
        }

        &.size-1 .react-pdf__Page__canvas {
            height: auto !important;
            width: 400px !important;
        }
        &.size-2 .react-pdf__Page__canvas {
            width: unset !important;
            height: unset !important;
        }
        &.size-3 .react-pdf__Page__canvas {
            height: auto !important;
            width: 600px !important;
        }
        &.size-4 .react-pdf__Page__canvas {
            height: auto !important;
            width: 800px !important;
        }
        &.size-5 .react-pdf__Page__canvas {
            height: auto !important;
            width: 100% !important;
        }
    }
}
