@import './../../styles/utils/vars.scss';

.tooltip {
    position: relative;
    width: min-content;
    z-index: 1;
    
    & .tooltip__text {
        pointer-events: none;
        width: min-content;
        opacity: 0;        
        position: absolute;
        font-size: 14px;
        line-height: 1.4;
        padding: 5px 15px;
        border-radius: 10px;
        background-color: $color-main;
        color: $text-color-second;
        
        transition: .3s all;
        bottom: calc(100% + 10px);
        left: -15px;

        &::before{
            content:'';
            display:block;
            width:0;
            height:0;
            position:absolute;
            top: 100%;
            left: 15px;
            margin-right: -6px;
            border-top: 8px solid $color-main;
            border-left: 6px solid transparent;
            border-right: 8px solid transparent;
        }

        &.noWordWrap {
            width: max-content;
        }
    }

    &.right {
        & .tooltip__text {
            bottom: unset;
            top: 50%;
            transform: translateY(-50%);
            left: calc(100% + 25px);

            &::before{
                content:'';
                display:block;
                width:0;
                height:0;
                position:absolute;
                top: 50%;
                left: -15px;
                transform: translateY(-50%);
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-right: 9px solid $color-main;
            }
        }
    }
    
    &.left {
        & .tooltip__text {
            bottom: unset;
            top: 50%;
            transform: translate(-100%, -50%);
            left: calc(0% - 25px);

            &::before {
                top: 50%;
                left: calc(100%);
                transform: translateY(-50%);
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 9px solid $color-main;
            }
        }
    }

    &:hover {
        & .tooltip__text {
            transition-delay: .3s;
            opacity: 1;
        }
    }
}