@import './../../styles/utils/vars.scss';

.book {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    border-radius: 15px;
    padding: 30px;
    background-color: $color-main;

    & p {
        font-size: 14px;
        color: $text-color-second;

        & span {
            font-weight: bold;
            padding-right: 5px;
        }

        padding-right: 15px;
        margin: 0;
    }

    cursor: pointer;
    transition: .3s all;
    &:hover {
        background-color: $hover-main;
    }

    &-icon {
        opacity: .1;
        margin-left: auto;

        transition: 1s all;
        &:hover {
            opacity: .6;
        }
    }

    & .txt {
        padding: 15px 30px;
    }
}