@import './../../styles/utils/vars.scss';

.book {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    border-radius: 15px;
    padding: 30px;
    background-color: $color-main;

    height: 110px;
    
    & .book-cover {
        border-radius: 5px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        margin-top: -25px;
        margin-left: -25px;
        margin-bottom: -25px;


        height: 100px;

        margin-right: 30px;

        & + .book-info {
            & .book-info__title {
                margin-bottom: 0px;
            }
        }

        &.pdf {
            overflow: hidden;
        }
    }

    & p {
        font-size: 14px;
        color: $text-color-second;

        & span {
            font-weight: bold;
            padding-right: 5px;
        }

        padding-right: 15px;
        margin: 0;
    }

    cursor: pointer;
    transition: .3s all;
    &:hover {
        background-color: $hover-main;
    }

    &-icon {
        opacity: .1;
        margin-left: auto;

        transition: 1s all;
        &:hover {
            opacity: .6;
        }
    }

    & .txt {
        padding: 15px 30px;
    }

    & .book-info {
        display: flex;
        flex-flow: column nowrap;

        &__title {
            font-weight: bold;
            font-size: 14px;
        }
        &__subtitle {
            opacity: .6;
            &.bold {
                font-style: bold;
            }
            &.percent {
                margin-top: 5px;
                font-size: 12px;
                opacity: .4;
            }
        }
    }
}